{% extends "govuk/template.njk" %}

{# Set custom container width following GOV.UK Design System pattern #}
{% set containerClasses = "app-width-container" %}

{% block head %}
<link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
<link rel="stylesheet" href="/stylesheets/app.css">
<link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiByeD0iNCIgZmlsbD0iIzAwODY3MCIvPgo8cGF0aCBkPSJNOCAxMkgxNlYyMEg4VjEyWiIgZmlsbD0id2hpdGUiLz4KPHBhdGggZD0iTTIwIDhIMjRWMjRIMjBWOFoiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMCA2SDE0VjEwSDEwVjZaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMjEgMTJIMjNWMTZIMjFWMTJaIiBmaWxsPSIjMDA4NjcwIi8+Cjwvc3ZnPg==" type="image/svg+xml">
<style>
/* Fix horizontal scroll bar issue */
body {
    overflow-x: hidden;
}

.app-width-container {
    max-width: 100%;
    box-sizing: border-box;
}

/* Ensure GOV.UK containers don't exceed viewport width */
.govuk-width-container {
    max-width: 100%;
    box-sizing: border-box;
}
</style>
{% endblock %}

{% block header %}
<header class="app-header">
  <a class="app-header__link" href="/">
    <img class="app-header__logo" aria-label="App Logo" src="{{ logoUrl }}" />
  </a>
  <span class="app-header__service-name">
    {{ serviceName }}
  </span>
  <button aria-controls="navigation" class="app-header__nav-button" type="menu">
    Menu
  </button>
</header>
<nav class="app-nav" aria-label="menu">
  {% if complianceEnabled %}
  <a class="app-link{% if currentSection == 'overview' %} app-link--current{% endif %}" href="/">Overview</a>
  <a class="app-link{% if currentSection == 'compliance' %} app-link--current{% endif %}" href="/compliance">Reports</a>
  {% endif %}
  <a class="app-link{% if currentSection == 'policies' %} app-link--current{% endif %}" href="/policies">Policies</a>
</nav>
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list govuk-!-margin-left-3">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/help">Help</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/privacy">Privacy Policy</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/contact">Contact</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/support">Support</a>
          </li>
        </ul>
        <div class="govuk-footer__meta-custom">
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-left-3">
            All content is available under the
            <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>,
            except where otherwise stated
          </p>
        </div>
      </div>
      <div class="govuk-footer__meta-item">
        <a class="govuk-footer__link govuk-footer__copyright-logo govuk-!-margin-right-3" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the

<body>, to avoid blocking the initial render. #}
  <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
  <script type="module" src="/javascripts/app.js"></script>
  <script type="module">
    import {initAll} from '/javascripts/govuk-frontend.min.js'
    import {appInit} from '/javascripts/app.js'
    initAll()
    appInit()
  </script>
  {% endblock %}
