const { Db } = require('mongodb')
const config = require('../config-loader.js')
const createAuthorizationMiddleware = require('./createAuthorization.js');

/**
 * @param {Object<string, *>} claims
 * @param {Db} db
 * @returns {Promise<Array<string>>}
 */
async function getAccountIds(claims, db) {
    if (config.get('my.superuser') === claims.name) {
        return ["*"];
    }
    const removeNamespaces = g => g.split("/").slice(-1)[0];
    const groups = new Set(claims.groups.map(removeNamespaces));
    const allowedAccountIds = new Set();

    const groupToIdCollection = db.collection('group_to_id');
    for (const doc of await groupToIdCollection.find({}).toArray()) {
        if (groups.has(doc.group)) {
            allowedAccountIds.add(doc.account_id);
        }
    }

    return Array.from(allowedAccountIds);
}

module.exports = createAuthorizationMiddleware(getAccountIds);
